<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>5Cent</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    {% include "Navbar.html" %}
    <div class="py-4">
      <h1 class="text-center fw-semibold py-2">Job Openings</h1>
      <hr />
    </div>

    <div class="container pb-5 mb-3">
      {% for job in jobs %}
      <div
        class="row gy-3 border-1 d-flex border-secondary-subtle py-3 border-bottom"
      >
        <div class="col-lg-8 ps-5">
          <h4 class="text-secondary">{{ job.title }}</h4>
          <h6>
            <span class="fw-semibold pe-2">Location:</span>{{ job.location }}
          </h6>
          <h6>
            <span class="fw-semibold pe-2">Salary:</span>{% if job.currency ==
            None %} Rs {% else %} {{ job.currency }} {% endif %} . {% if
            job.salary == None %} Not Mentioned {% else %} {{ job.salary }} {%
            endif %}
          </h6>
        </div>
        <div class="col-lg-4 d-flex justify-content-center align-items-center">
          <a
            href=" mailto:mohariyabunty@gmail.com?subject=Application%20for%20{{job['title']}}&body=My%20Name%3A%20%3CYour%20Name%3E%0D%0AMy%20Resume%20Link%3A%20%3CResume%20Link%3E%0D%0AMy%20LinkedIn%20Link%3A%20%3CLinkedIn%20Link%3E%0D%0A "
            class="btn btn-outline-primary rounded-1"
            >Apply</a
          >
        </div>
      </div>
      {% endfor %}
    </div>

    {% include "Footer.html" %}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
