<footer class="py-5 bg-dark">
  <div class="container">
    <div class="row g-4">
      <div class="col-6 col-md-6 col-lg-3">
        <h6 class="text-light mb-3 fw-bold text-uppercase">Address</h6>
        <p class="text-secondary">Katol, Nagpur <br />441302</p>
        <h6 class="text-light fw-bold text text-uppercase">Contact Us</h6>
        <ul class="list-unstyled">
          <li>
            <a
              class="text-decoration-none text-secondary small footer-link"
              href="mailto::kanishmohariya1@gmail.com"
              >fivecent@gmail.com</a
            >
          </li>
          <li>
            <a
              class="text-decoration-none text-secondary small footer-link"
              href="tel::8080908215"
              >8080908215</a
            >
          </li>
        </ul>
      </div>

      <div class="col-6 col-md-6 col-lg-3">
        <h6 class="text-light mb-3 fw-bold text-uppercase">Help</h6>
        <ul class="list-unstyled">
          <li class="mb-1">
            <a class="text-decoration-none text-secondary footer-link" href=""
              >My Account</a
            >
          </li>
          <li class="mb-1">
            <a class="text-decoration-none text-secondary footer-link" href=""
              >Items And Sizes</a
            >
          </li>
          <li class="mb-1">
            <a class="text-decoration-none text-secondary footer-link" href=""
              >Shipping</a
            >
          </li>
          <li class="mb-1">
            <a class="text-decoration-none text-secondary footer-link" href=""
              >Payment And Invoices</a
            >
          </li>
          <li class="mb-1">
            <a class="text-decoration-none text-secondary footer-link" href=""
              >My Purchase</a
            >
          </li>
          <li class="mb-1">
            <a class="text-decoration-none text-secondary footer-link" href=""
              >Refund</a
            >
          </li>
        </ul>
      </div>

      <div class="col-6 col-md-6 col-lg-3">
        <h6 class="text-light mb-3 fw-bold text-uppercase">Company</h6>
        <ul class="list-unstyled">
          <li class="mb-1">
            <a class="text-decoration-none text-secondary footer-link" href=""
              >About Us</a
            >
          </li>
          <li class="mb-1">
            <a class="text-decoration-none text-secondary footer-link" href=""
              >Contact Us</a
            >
          </li>
          <li class="mb-1">
            <a class="text-decoration-none text-secondary footer-link" href=""
              >Careers</a
            >
          </li>
          <li class="mb-1">
            <a class="text-decoration-none text-secondary footer-link" href=""
              >Stores</a
            >
          </li>
          <li class="mb-1">
            <a class="text-decoration-none text-secondary footer-link" href=""
              >Report</a
            >
          </li>
        </ul>
      </div>

      <div class="col-6 col-md-6 col-lg-3">
        <h6 class="text-light mb-3 fw-bold text-uppercase">Connect With Us</h6>
        <ul class="d-flex fs-5 list-unstyled">
          <li class="mx-2 ms-0">
            <a
              class="text-decoration-none text-secondary footer-link"
              href="https://www.facebook.com/login/"
              target="_blank"
              ><i class="fa-brands fa-facebook"></i
            ></a>
          </li>
          <li class="mx-2">
            <a
              class="text-decoration-none text-secondary footer-link"
              href="https://twitter.com/KMohariya"
              target="_blank"
              ><i class="fa-brands fa-square-x-twitter"></i
            ></a>
          </li>
          <li class="mx-2">
            <a
              class="text-decoration-none text-secondary footer-link"
              href="https://www.instagram.com/kanish_mohariya/"
              target="_blank"
              ><i class="fa-brands fa-instagram"></i
            ></a>
          </li>
          <li class="mx-2">
            <a
              class="text-decoration-none text-secondary footer-link"
              href="https://www.linkedin.com/in/kanish-mohariya-7a904a240/"
              target="_blank"
              ><i class="fa-brands fa-linkedin"></i
            ></a>
          </li>
        </ul>

        <h6 class="text-light my-2 fw-bold text-uppercase">Policies</h6>
        <ul class="list-unstyled">
          <li>
            <a class="text-decoration-none text-secondary footer-link" href=""
              >Privacy Policy</a
            >
          </li>
          <li>
            <a class="text-decoration-none text-secondary footer-link" href=""
              >Refund Policy</a
            >
          </li>
          <li>
            <a class="text-decoration-none text-secondary footer-link" href=""
              >T&C</a
            >
          </li>
        </ul>
      </div>
    </div>

    <hr class="text-light" />

    <div class="row">
      <div class="text-secondary d-flex justify-content-center">
        <p class="mb-0">
          <span><i class="fa-regular fa-copyright"></i></span> All Rights
          Reserved By KANISH I. MOHARIYA
        </p>
      </div>
    </div>
  </div>
</footer>
