<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark"
  aria-label="offcanvas navbar large"
>
  <div class="container">
    <a href="/" class="navbar-brand">
      <span class="h3 brand-name">5cent</span>
    </a>

    <button
      class="navbar-toggler hamburger border-0 bg-dark"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar2"
      aria-controls="offcanvasNavbar2"
      aria-label="Toggle Navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      id="offcanvasNavbar2"
      class="offcanvas offcanvas-end text-bg-dark"
      tabindex="-1"
      aria-labelledby="offcanvasNavbar2Label"
    >
      <div class="offcanvas-header">
        <h5 id="offcanvasNavbar2Label" class="offcanvas-title brand-name">
          5cent
        </h5>
        <button
          class="btn-close close btn-close-white pe-4"
          type="button"
          data-bs-dismiss="offcanvas"
          aria-label="close"
        ></button>
      </div>

      <div class="offcanvas-body">
        <ul
          class="navbar-nav justify-content-end align-items-center flex-grow-1"
        >
          <li class="d-flex align-items-center">
            <a href="/about" class="nav-link footer-link d-flex align-items-center">
              <span class="px-2">About</span>
            </a>
          </li>
          <li class="d-flex align-items-center">
            <a href="/careers" class="nav-link footer-link d-flex align-items-center">
              <span class="px-2">Careers</span>
            </a>
          </li>
          <li class="d-flex align-items-center">
            <a href="/contact" class="nav-link footer-link d-flex align-items-center">
              <span class="px-2">Contact us</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
